@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<SchoolManagmentSystem.Models.Entities.Student>

@{
    ViewData["Title"] = "Students";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
       
        body {
            background: linear-gradient(to bottom, #42d7f5, #cfdef3);
            min-height: 100vh;
        }

        .container {
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .table-container {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .btn-create {
            background-color: #007bff;
            color: #fff;
            padding: 8px 15px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

            .btn-create:hover {
                background-color: #0056b3;
                color: #fff;
            }

        .btn-info {
            background-color: #17a2b8;
            color: #fff;
            padding: 8px 15px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

            .btn-info:hover {
                background-color: #117a8b;
                color: #fff;
            }

        .mt-4 {
            margin-top: 1.5rem !important;
        }
    </style>
</head>
<body>

    <div class="container">
        <h2>Students</h2>
        
        <div class="table-container">
            <table class="table ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Subjects</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model)
                    {
                        <tr>
                            <td>@student.Name</td>
                            <td>@student.Email</td>
                            <td>
                                @foreach (var subject in student.Subjects)
                                {
                                    <span>@subject.Name</span>
                                    <br />
                                }
                            </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
